body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
   }
   
   .profile {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 5px;
   }
   
   h2 {
    color: #333;
   }
   
   h2 {
    font-size: 24px;
   }
   
   .workshop-text {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #f5f8fa; 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workshop-container {
    background-color: #00ccff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
